# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

# C# files
[*.cs]
csharp_style_prefer_primary_constructors = false
resharper_convert_to_primary_constructor_highlighting = none