<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <clear/>
        <add key="Nexus Nuget proxy" value="https://nexus.e-btlnet.local/repository/BTL-nuget-proxy/index.json"/>
        <add key="Teamcity Nugets" value="https://teamcity.e-btlnet.local/guestAuth/app/nuget/v1/FeedService.svc/"/>
        <add key="local nugets" value="%userprofile%/.nuget"/>
    </packageSources>
    <packageRestore>
        <add key="enabled" value="True"/>
    </packageRestore>
</configuration>
